body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}

h1 {
  text-align: center;
}

#connecting,
#connected,
#disconnected {
  display: none;
}

#content.connecting #connecting,
#content.connected #connected,
#content.disconnected #disconnected {
  display: inherit;
}

#app-data {
  height: 400px;
}
#meta-data {
  height: 200px;
}
#patch-data {
  height: 200px;
}
#alert .toast {
  position: fixed;
  z-index: 100;
  font-size: 1.2em;
  text-align: center;
  border-radius: 5px;
  background-color: #d8afaf;
  border-style: solid;
  border-width: 1px;
  border-color: #871010;
  color: #871010;
  margin: 0 auto;
  left: 0.5em;
  right: 0.5em;
  top: 0.5em;
  padding: 0.3em;
}
.toast {
  opacity: 0;
  transition: 200ms;
}
.toast.shown {
  opacity: 1;
}

#app-data .jsoneditor,
#meta-data .jsoneditor,
#patch-data .jsoneditor {
  border-style: none;
}

#app-data .jsoneditor-menu,
#meta-data .jsoneditor-menu,
#patch-data .jsoneditor-menu {
  display: none;
}

#app-data .jsoneditor-outer,
#meta-data .jsoneditor-outer,
#patch-data .jsoneditor-outer {
  margin: inherit;
  padding: inherit;
}

.editor-title,
.editor-control-wrapper {
  border-color: #353535;
  border-width: 1px;
  color: white;
  margin: 0;
}

.editor-title {
  border-bottom-style: solid;
  background-color: #353535;
  padding: 0.2em 0.5em;
}

.editor-control-wrapper {
  border-top-style: solid;
  background-color: #858585;
  padding: 0.1em 0.2em 0.1em 0.5em;
}

.editor-control-wrapper button {
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #5e5e5e;
  background-color: #f8f7f7;
  cursor: pointer;
  padding: 0.3em 0.5em;
  color: #000;
  font-size: .8em;
  margin: .1em;
}

.editor-control-wrapper button:active {
  border-color: #464646;
  background-color: #e0dfdf;
}

.editor {
  -webkit-box-shadow: 0 3px 10px 0px #a3a1a1;
  box-shadow: 0 3px 10px 0px #a3a1a1;
  border: black solid 1px;
  margin: 1em 0;
}
