{
  "presets": [
    ["es2015", { "modules": false }],
    "es2016",
    "react"
  ],

  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ],

  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
