{
  "env": {
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "globals": {
  },
  "plugins": [
  ],
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
