{
  "env": {
    "jest": true,
    "browser": false
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.js?(x)", "**/*.spec.js?(x)"] }
    ]
  }
}
